@use '../../sass/variables'

#system_login
    width: 80rem
    height: 45rem
    flex-shrink: 0
    border-radius: variables.$borderLogin
    background: #FFF
    margin: 0 auto
    margin-top: 10%

    display: grid
    grid-template-columns: 1fr 1fr


    #container_login

        h1
            text-align: center
            font-weight: 400
            font-size: 2rem
            margin: 2rem 0

        .form
            width: 36rem
            margin: 0 auto

    .text_login
        background: variables.$backgrondGrenn
        border-radius: 0px variables.$borderLogin variables.$borderLogin 0px
        color: #000

        display: flex
        justify-content: center
        text-align: center

        div
            margin-top: 12rem 
            width: 600px
            height: 300px

            h1
                font-size: 2.5rem
                margin-bottom: 2rem
                font-weight: 600
            
            p
                font-size: 1.2rem
        